{% extends "base.html" %}

{% block title %}Reset Password on ProMan{% endblock title %}

{% block body %}
<div id="content" class="span4 offset4 well">
    <h1>Password reset</h1>
    
    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
    
    <form action="" method="post">{% csrf_token %}
    {% for field in form.visible_fields %}
        <p class="help-block">{{ field.errors }}</p>
    {% endfor %}
<p><label for="id_new_password1">New password:</label><input type="password" name="new_password1" id="id_new_password1"></p>
<p><label for="id_new_password2">Confirm password:</label><input type="password" name="new_password2" id="id_new_password2"></p>
    <p><button class="btn btn-success" type="submit">Change my password</button></p>
    </form>

</div>

{% endblock body %}