{% extends 'base.html' %}

{% block body %}
<div class="span12">
    <div class="page-header">
        <h1>Import {{ content_type }}</h1>
    </div>
</div>
<div class="span4">
    <div class="progress progress-{% if ci.complete_dt %}success {% else %}info progress-striped active{% endif %}">
        <div class="bar" {% if ci.complete_dt %}style="width: 100%;"{% endif %}></div>
    </div>
    <div id="status">Connecting... <span id="started"></span> <span id="completed">{% if ci.complete_dt %}Complete!{% endif %}</span></div>
    <div id="final-results">{% if ci.complete_dt %}{{ ci.matched }} Matched, {{ ci.added }} Added{% endif %}</div>
    <div id="hidden-results"></div>
</div>
{% endblock %}
{% block js %}
{% if not ci.complete_dt %}
<script type="text/javascript">
function importCheck() {
    $.ajax({
        url: "/import/check/{{ ci.pk }}/",
        cache: false
    }).done(function( html ) {
        $("#hidden-results").html(html);
        var matched = $("#hidden-results #matched").text();
        var added = $("#hidden-results #added").text();
        var perc = $("#hidden-results #perc").text();
        $('.progress .bar').width(perc+"%");
        $("#final-results").html(matched+" Matched, "+added+" Added");
        if (perc > 0) { $('#started').text("Processing... "); }
    });
}

var import_check = setInterval(function() {
    var complete = $("#hidden-results #complete").text();
    if (complete.indexOf("Complete") != -1) {
        $("#completed").text(complete);
        $(".progress").removeClass("progress-info active progress-striped progress-success");
        $(".progress").addClass("progress-success");
        clearInterval(import_check);
    } else {
        importCheck();
    }
},500);
</script>
{% endif %}
{% endblock js %}