{% extends 'base.html' %}

{% block body %}
<div class="span12">
    <div class="page-header">
        <h1>Import {{ content_type }}</h1>
    </div>
</div>
<div class="span4">
    <div class="progress info striped active">
        <div class="bar"></div>
    </div>
    <div id="status">Connecting... <span id="started"></span> <span id="completed"></span></div>
    <div id="final-results"></div>
    <div id="hidden-results"></div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
function importCheck() {
    $.ajax({
        url: "/import/check/{{ ci.pk }}/",
        cache: false
    }).done(function( html ) {
        $("#hidden-results").html(html);
        var matched = $("#hidden-results #matched").text();
        var added = $("#hidden-results #added").text();
        var perc = $("#hidden-results #perc").text();
        $('.progress .bar').width(perc+"%");
        $("#final-results").html(matched+" Matched, "+added+" Added");
        if (perc > 0) { $('#started').text("Processing... "); }
    });
}

var import_check = setInterval(function() {
    var complete = $("#hidden-results #complete").text();
    if (complete.indexOf("Complete") != -1) {
        $("#completed").text(complete);
        $(".progress").removeClass("info active striped success");
        $(".progress").addClass("success");
        clearInterval(import_check);
    } else {
        importCheck();
    }
},500);

</script>
{% endblock js %}