{% extends "base.html" %}

{% block title %}Create a new Project{% endblock title %}

{% block body %}
<div class="content project project-detail">
    <div class="page-header">
        <h1>Create a Project <small>new</small></h1>
    </div>
    <div class="page-header">
        <div class="row">
        {% include "messages.html" %}
            <div class="span8">
            <form method="post" action="{{ request.path }}" class="form-horizontal">{% csrf_token %}
                <legend>Create a project</legend>
                {% for field in form %}
                <div class="control-group">
                    <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-block">{{ field.errors }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn success">Create a Project</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
                </form>
                
            </div>

        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() { 
    $( "#id_start_dt" ).datepicker();
    $( "#id_end_dt" ).datepicker();
});
</script>
{% endblock js %}