            {% for project in projects %}
                <tr class="project-row">
                    <td>{{ project.pk }}</td>
                    <td>{{ project.cached_client_name }}</td>
                    <td><a href="{% url project_detail project.pk %}">{{ project.name }}</a></td>
                    <td><a href="{{ project.cached_owner_url }}">{{ project.cached_owner_name }}</a></td>
                    <td>{{ project.technology }}</td>
                    <td>{{ project.age }}</td>
                    <td>{{ project.end_dt }}</td>
                    <td>{{ project.harvest_budget.first }} %</td>
                </tr>
            {% endfor %}