{% extends "base.html" %}

{% block title %}Project List Report{% endblock title %}

{% block body %}
<div class="content project project-list">
    <div class="page-header">
        <h1>Project List <small>(<span id="projects-shown"></span> of {{ projects|length  }}) | <a href="{% url project_create %}?next={{ request.path }}" class="colorize success">add new</a></small></small></h1>
    </div>
    <div class="row">
        {% include "messages.html" %}
        <div class="span12">
            <form id="live-filter">
                <input id="project-search" type="text" autocomplete="off" />
                <span class="help-inline">Start Typing for Live Filtering</span>
            </form>
            <table id="project-list" class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="blue">#</th>
                    <th class="blue">Name</th>
                    <th class="blue">Owner</th>
                    <th class="blue">Tech</th>
                    <th class="blue">Status</th>
                    <th class="blue">Age (days)</th>
                    <th class="blue">Tasks</th>
                    <th class="blue">Hours</th>
                    <th class="blue">% Done</th>
                </tr>
                </thead>
                <tbody>
                    {% include "proman/project_table_items.html" with projects=projects|slice:results_paginate %}
                </tbody>
            </table>
        {% if projects|length|add:0 > results_paginate|add:0 %}<a id="more-projects" href="javascript:;">Show More Projects</a>{% endif %}
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
    $("#project-list").tablesorter({sortList: [[5,1]]});

    $('tr.project-row').show();

    $('form#live-filter').on('focus', '#project-search', function(e) {
        var tmpVAL = $('#project-search').val().toLowerCase();
        var loadedCount = $('#projects-shown').text();
        if (tmpVAL.length == 0 && loadedCount <= {{ projects|length }}) {
            // load all projects, update numbers
            $.get("?project_search={{ results_paginate }}", function(html) { 
              $("#project-list tbody").append(html);
              var totalDone = $("#project-list tbody tr:visible").size();
              $("#projects-shown").text(totalDone);
            });
            $("#more-projects").hide();
        }

    });
    $('form#live-filter').on('keyup', '#project-search', function(e) {
        var tmpVAL = $('#project-search').val().toLowerCase();
        $('.project-row').each(function() {
          var tmpHTML = $(this).html().toLowerCase();
          if (tmpHTML.indexOf(tmpVAL) >= 0) {
            $(this).show();
          } else if (tmpVAL.length < 1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
        var totalDone = $("#project-list tbody tr:visible").size();
        $("#projects-shown").text(totalDone);
    });

    $("#projects-shown").text($("#project-list tbody tr").size());

    var projectInc = 1;
    $("#more-projects").click(function(){
        projectInc++;
        $.get("?project_page="+projectInc, function(html) { 
            $("#project-list tbody").append(html);
            $("#project-list").trigger("update");
            var totalDone = $("#project-list tbody tr").size();
            if (totalDone < (projectInc*{{ results_paginate }})) {$("#more-projects").hide();}
            $("#projects-shown").text(totalDone);
        });
    });
});
</script>
{% endblock js %}