{% extends "base.html" %}

{% load proman_tags %}

{% block title %}Project: {{ project.name }}{% endblock title %}

{% block css %}
{{ block.super }}
<style>
    .log-field { font-weight: bold; }
    .log-change-old, .log-field-private, .log-field-non-billable { color: #a00; }
    .log-change-new, .log-field-public, .log-field-billable { color: #0a0; font-weight: bold; }
    #project-name { font-size: 20px; }
    .table .label {font-size: 8.75px; display: none;}
tr:hover .label { display: inline; }
.log-items {display: none; }
</style>
{% endblock css %}

{% block body %}
<div class="content project project-detail">
    <div class="page-header">
        <h1>{{ project.cached_client_name }} <small>{{ project.name }}</small></h1>
    </div>
    <div class="page-header">
        <div class="row">
        {% include "messages.html" %}
            <div class="span7">
                <h4>About the project:</h4>
                <p>{{ project.description|safe|linebreaks }}</p>
                <div class="row">
                    <div class="span2">
                        <h1><span class="colorize {{ project.perc_class }}">{{ project.tasks_done_count }}</span> / {{ project.tasks_count }}</h1><small>Done / Total Tasks</small>
                    </div>
                    <div class="span3">
                        <h1><span class="colorize {{ project.perc_class }}">{% firstof project.tasks_done_hours|floatformat "0" %}</span> / {% firstof project.tasks_hours|floatformat "0" %} / {{ project.task_budget }}</h1><small>Done / Planned / Budgeted Hours</small>
                    </div>
                    <div class="span2" style="text-align: right;">
                        <h1 class="colorize {{ project.age_class }}">{{ project.age }}</h1><small>Days Old</small>
                    </div>
                </div>
                <div class="row">
                    <div class="span7">
                        <div class="progress {{ project.perc_class }}">
                            <div class="bar" style="width: {{ project.completion_perc }}%;">{{ project.completion_perc }}%</div>
                        </div>
                    </div>
                    {% harvest_progress_bar project %}
                </div>
            </div>
            <div class="span4 pull-right well">
                <h4 class="colorize {{ project.status_class }}">{{ project.status|title }}</h4>
                <p><strong>Owner:</strong> <a href="{{ cached_owner_url }}">{{ project.cached_owner_name }}</a><br />
                <strong>Technology:</strong> {{ project.technology }}<br />
                <strong>Started:</strong> {{ project.start_dt|date:"n/j/Y" }}
                {% if project.ongoing %}<br /><span class="label warning">Ongoing</span>{% endif %}
                </p>
                <a class="btn primary" href="{% url project_update project.pk %}">Edit Project</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span7">
        <h2>Tasks <small><a href="{% url task_create %}?project={{ project.pk }}&next={{ request.path }}" class="colorize success">add new</a></small></h2>
        {% if project.tasks_stuck %}
            <h3>Stuck <small>{{ project.tasks_stuck_count }} Task{{ project.tasks_stuck_count|pluralize }}, {{ project.tasks_stuck_hours }} Hour{{ project.tasks_stuck_hours|pluralize }}</small></h3>
            <table id="task-list-done" class="table table-striped table-bordered table-condensed">
                {% include "proman/project_task_table_header.html" with class="red" %}
                {% include "proman/project_task_table_items.html" with tasks=project.tasks_stuck %}
            </table>
        {% endif %}

        {% if project.tasks_in_progress %}
            <h3>In Progress <small>{{ project.tasks_in_progress_count }} Task{{ project.tasks_in_progress_count|pluralize }}, {{ project.tasks_in_progress_hours }} Hour{{ project.tasks_in_progress_hours|pluralize }}</small></h3>
            <table id="task-list-in_progress" class="table table-striped table-bordered table-condensed">
                {% include "proman/project_task_table_header.html" with class="blue" %}
                {% include "proman/project_task_table_items.html" with tasks=project.tasks_in_progress %}
            </table>
        {% endif %}
        
        {% if project.tasks_not_started %}
            <h3>Not Started <small>{{ project.tasks_not_started_count }} Task{{ project.tasks_not_started_count|pluralize }}, {{ project.tasks_not_started_hours }} Hour{{ project.tasks_not_started_hours|pluralize }}</small></h3>
            <table id="task-list-not-started" class="table table-striped table-bordered table-condensed">
                {% include "proman/project_task_table_header.html" with class="orange" dt="Due on" %}
                {% include "proman/project_task_table_items.html" with tasks=project.tasks_not_started %}
            </table>
        {% endif %}
        
        {% if project.tasks_done %}
            <h3>Done <small>{{ project.tasks_done_count }} Task{{ project.tasks_done_count|pluralize }}, {{ project.tasks_done_hours }} Hour{{ project.tasks_done_hours|pluralize }}</small></h3>
            <table id="task-list-done" class="table table-striped table-bordered table-condensed">
                {% include "proman/project_task_table_header.html" with class="green" dt="Done" %}
                {% include "proman/project_task_table_items.html" with tasks=project.tasks_done %}
            </table>
        {% endif %}
            <div id="change-logs">
                <h3>Project changelog <small><a id="toggle-logs" href="javascript:;">Toggle Logs</a></small></h3>
                {% include "proman/log_items.html" with logs=project_logs %}
            </div>
        </div>
        
        <div class="span4 pull-right well">
            <form method="post" action="{% url task_create %}?project={{ project.pk }}&next={{ request.path }}" class="form-inline">{% csrf_token %}
                <legend>Task Quick Add</legend>
                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                {% for field in form.visible_fields %}
                    <div class="control-group">
                    <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <p class="help-block">{{ field.errors }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn success">Create a Task</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
                </form>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
        $("#task-list-done").tablesorter({
            sortList: [[2,1]],
        });
        $("#task-list-not-started").tablesorter({
            sortList: [[2,0]],
        });
        $('[class*=" task-"]').each(function(){
            var obj = $(this).attr('class').split(' ')[5];
            console.log(obj);
            objid = obj.split('-')[1];
            console.log(objid)
            $("#task-"+objid).children().css('background-color','#DFF0D8');
        });
        $( "#id_due_dt" ).datepicker();
        $('#toggle-logs').on('click', function() {
            $('.log-items').toggle();
        });
});
</script>
{% endblock js %}