{% extends "base.html" %}
{% load humanize %}

{% block title %}Task: {{ task.title }}{% endblock title %}

{% block css %}
{{ block.super }}
<style>
    .log-field { font-weight: bold; }
    .log-change-old, .log-field-private, .log-field-non-billable { color: #a00; }
    .log-change-new, .log-field-public, .log-field-billable { color: #0a0; font-weight: bold; }
</style>
{% endblock css %}

{% block body %}
<div class="content project project-detail">
    <div class="page-header">
        <h1>{{ task.title }} <small>Est: <strong></strong>{{ task.task_time|floatformat }} hour{{ task.task_time|pluralize }}</strong> &mdash; {% if task.status == "Done" %}Done{% else %}Due: <strong>{{ task.due_dt|naturaltime }}</strong>{% endif %}</small></h1>
    </div>
    <div class="row">
        {% include "messages.html" %}
        <div class="span8">
            {% if task.overdue %}
            <div class="alert alert-error">
                <a class="close">×</a>
                <p><strong>Overdue!!!</strong> This task was due {{ task.due_dt|naturaltime }}. Please do it or update it and tell {{ task.original_creator.first_name }} {{ task.original_creator.last_name|slice:":1" }}.</p>
            </div>
            {% endif %}
            <div>{{ task.description|safe|linebreaks }}</div>
            {% if task.resolution and task.status == "Done" %}
            <div class="alert alert-block alert-success">
                <h4 class="alert-heading">This task has been closed.</h4>
                <p>{{ task.resolution }}</p>
            </div>
            {% endif %}
            <div id="change-logs">
            <h3>Task changelog</h3>
            {% include "proman/log_items.html" with logs=task_logs %}
            </div>
        </div>
        <div class="span4">
            <p><strong>Assigned to:</strong> <a href="{% url user_detail task.assignee.username %}">{{ task.assignee.first_name }} {{ task.assignee.last_name|slice:":1" }}.</a><br />
            <strong>Due Date:</strong> <span class="colorize{% if task.status != "Done" %} {{ task.due_class }}{% endif %}">{{ task.due_dt|date:"l, n/j" }}</span><br />
            <strong>Status:</strong> {{ task.status }}<br />
            
            {% if task.billable %}
                <span class="label success">Billable</span>
            {% else %}
                <span class="label important">Non-Billable</span>
            {% endif %}</p>
            <p><a href="{% url task_update task.pk %}" class="btn primary">Edit Task</a>
            <a href="#close-form-modal" data-toggle="modal" class="btn success">Close Task</a></p>
            <h2>Project Info</h2>
            <h3><a href="{% url project_detail task.project.pk %}">{{ task.project.name }}</a></h3><p>
            <strong>Owner:</strong> <a href="{% url user_detail task.project.owner.username %}">{{ task.project.owner.first_name }} {{ task.assignee.last_name|slice:":1" }}.</a><br />
            <strong>Technology:</strong> {{ task.project.technology }}<br />
            <strong>{{ task.project.age }}</strong> days old</p>
        </div>
    </div>
</div>
<div class="modal hide fade" id="close-form-modal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Close Task - {{ task.title }}</h3>
    </div>
    <form method="post" action="{% url task_close task.pk %}?next={% url project_detail task.project.pk %}" class="form-inline">{% csrf_token %}
        <div class="modal-body">
            {% for hidden in close_form.hidden_fields %}{{ hidden }}{% endfor %}
            {% for field in close_form.visible_fields %}
                <div class="control-group">
                <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    <p class="help-block">{{ field.errors }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn cancel">Cancel</button>
            <button type="submit" class="btn success">Close Task</button>
        </div>
    </form>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#close-form-modal').modal('hide');
    $('#close-form-modal button.cancel').click(function(){
        $('#close-form-modal').modal('hide');
    });
});
</script>
{% endblock js %}