{% extends "base.html" %}

{% block title %}People: {{ user_object.nice_name }}{% endblock title %}

{% block body %}
<div class="content project project-detail">
    <div class="page-header">
        <h1>{{ user_object.nice_name }} <small>{{ user_object.username }}</small></h1>
    </div>
    <div class="page-header">
    <div class="row">
        {% include "messages.html" %}
        <div class="span9">
            <form id="live-filter">
                <input id="project-search" type="text" autocomplete="off" />
                <span class="help-inline">Start Typing for Live Filtering of <strong>Projects and Tasks</strong></span>
            </form>
            <h2>Projects <small><a href="{% url project_create %}?next={{ request.path }}" class="colorize success">add new</a></small></h2>
            <table id="project-list" class="table table-striped table-bordered table-condensed project-table">
                <thead>
                <tr>
                    <th class="blue">#</th>
                    <th class="blue">Name</th>
                    <th class="blue">Tech</th>
                    <th class="blue">Age</th>
                    <th class="blue">Tasks</th>
                    <th class="blue">Hours</th>
                    <th class="blue">% Done</th>
                    <th class="blue">Status</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
            {% for project in user_projects %}
                <tr class="project-row">
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url project_detail project.pk %}">{{ project.name }}</a></td>
                    <td>{{ project.technology }}</td>
                    <td>{{ project.age }} days</td>
                    <td>{{ project.task_count }}</td>
                    <td>{{ project.task_hours }}</td>
                    <td>{{ project.completion_perc }} %</td>
                    <td>{{ project.status }}</td>
                    <td><a class="label info" href="{% url project_update project.pk %}?next={{ request.path }}">Edit</a></td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span3">
        <h3>Projects Summary</h3>
            <h2><small>Open Projects:</small> {{ user_open_projects|length }}</h2>
            <h2><small>Managed Tasks:</small> {{ user_open_projects.total_tasks }}</h2>
            <h2><small>Managed Hours:</small> {{ user_open_projects.total_task_hours }}</h2>
            <h2><small>Average Start Date:</small> {{ user_open_projects.avg_start_date|date:"N" }}</h2>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="span9">
        <h2>Open Tasks <small>(<span id="open-shown"></span> of {{ user_open_project_tasks|length }}) <a href="{% url task_create %}?next={{ request.path }}" class="colorize success">add new</a></small></h2>
            <table id="open-task-list" class="table table-striped table-bordered table-condensed task-table">
                <thead>
                <tr>
                    <th class="blue">#</th>
                    <th class="blue">Task</th>
                    <th class="blue">Project</th>
                    <th class="blue">Status</th>
                    <th class="blue">Due on</th>
                    <th class="blue">Hours</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody id="open-task-results">
                    {% include "proman/task_table_items.html" with task_items=user_open_project_tasks|slice:results_paginate %}
                </tbody>
            </table>
            {% if user_open_project_tasks|length|add:0 > results_paginate|add:0 %}<a id="more-open-tasks" href="javascript:;">Load More Open Tasks</a>{% endif %}
        </div>
        <div class="span3">
        <h3>Tasks Summary</h3>
            <h3>Stuck</h3>
            <p>{{ project_tasks_stuck|length }} Tasks, {{ project_tasks_stuck_hours.total }} Hours</p>
            <h3>In Progress</h3>
            <p>{{ project_tasks_in_progress|length }} Tasks, {{ project_tasks_in_progress_hours.total }} Hours</p>
            <h3>Unstarted</h3>
            <p>{{ project_tasks_not_started|length }} Tasks, {{ project_tasks_not_started_hours.total }} Hours</p>
            <h3>Done</h3>
            <p>{{ project_tasks_done|length }} Tasks, {{ project_tasks_done_hours.total }} Hours</p>
        </div>
        <div class="span9">
        <h2>Done Tasks <small>(<span id="done-shown"></span> of {{ user_done_project_tasks|length }})</small></h2>
            <table id="done-task-list" class="table table-striped table-bordered table-condensed task-table">
                <thead>
                <tr>
                    <th class="green">#</th>
                    <th class="green">Task</th>
                    <th class="green">Project</th>
                    <th class="green">Status</th>
                    <th class="green">Done on</th>
                    <th class="green">Hours</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% include "proman/task_table_items.html" with task_items=user_done_project_tasks|slice:results_paginate %}
                </tbody>
            </table>
            {% if user_done_project_tasks|length|add:0 > results_paginate|add:0 %}<a id="more-done-tasks" href="javascript:;">Load More Done Tasks</a>{% endif %}
        </div>
        
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
        $(".project-table").tablesorter({
            headers: { 8: { sorter: false} }
        });
        $(".task-table").tablesorter({
            headers: { 6: { sorter: false} }
        });
    
    $('tr.project-row').show();
    $('form#live-filter').on('keyup', '#project-search', function(e) {
        var tmpVAL = $('#project-search').val().toLowerCase();
        $('.project-row').each(function() {
          var tmpHTML = $(this).html().toLowerCase();
          if (tmpHTML.indexOf(tmpVAL) >= 0) {
            $(this).fadeIn(150);
          } else if (tmpVAL.length < 1) {
            $(this).fadeIn(150);
          } else {
            $(this).fadeOut(150);
          }
        });
    });
    $("#open-shown").text($("#open-task-list tbody tr").size());
    var openTaskInc = 1;
    $("#more-open-tasks").click(function(){
        openTaskInc++;
        $.get("?open_task_page="+openTaskInc, function(html) { 
            $("#open-task-list tbody").append(html);
            $("#open-task-list").trigger("update");
            var totalOpen = $("#open-task-list tbody tr").size();
            if (totalOpen < (openTaskInc*{{ results_paginate }})) {$("#more-open-tasks").hide()}
            $("#open-shown").text(totalOpen);
        });
    });

    $("#done-shown").text($("#done-task-list tbody tr").size());
    var doneTaskInc = 1;
    $("#more-done-tasks").click(function(){
        doneTaskInc++;
        $.get("?done_task_page="+doneTaskInc, function(html) { 
            $("#done-task-list tbody").append(html);
            $("#done-task-list").trigger("update");
            var totalDone = $("#done-task-list tbody tr").size();
            if (totalDone < (doneTaskInc*{{ results_paginate }})) {$("#more-done-tasks").hide()}
            $("#done-shown").text(totalDone);
        });
    });
});
</script>
{% endblock js %}