                <thead>
                <tr>
                    <th class="blue">Client</th>
                    <th class="blue">Project</th>
                    <th class="blue">Owner</th>
                    <th class="blue">Tech</th>
                    <th class="blue">End Date</th>
                    <th class="blue">Age (days)</th>
                    <th class="blue">% Done</th>
                    <th class="blue">Budget</th>
                    <th class="blue">Score</th>
                </tr>
                </thead>