{% extends "base.html" %}

{% block title %}Project List Report{% endblock title %}

{% block css %}
<style>
#tech-count { float: right; margin-top: 0px; }
#tech-count .odd a { background-color: #f7f7f7; }
</style>
{% endblock %}

{% block body %}
<div class="content project project-list">
    <div class="page-header">
        <h1>Project List <small>(<span id="projects-shown">Loading...</span> {{ projects_total  }}) | <a href="{% url project_create %}?next={{ request.path }}" class="colorize success">add new</a></small><small class="pull-right">
            <select id="display-options">
                <option {% if display == "all" %}selected=selected{% endif %} value="{% url projects %}?display=all">Show all</option>
                <option {% if display == "open" %}selected=selected{% endif %} value="{% url projects %}">Show only open</option>
                <option {% if display == "done" %}selected=selected{% endif %} value="{% url projects %}?display=done">Show only done</option>
            </select>
        </small></h1>
    </div>
    <div class="row">
        <div class="span12">{% include "messages.html" %}</div>
        <div class="span6">
            <form id="live-filter">
                <input id="project-search" type="text" autocomplete="off" />
                <span class="help-inline">Start Typing for Live Filtering</span><br />
            </form>
        </div>
        <div class="span6">
            {% if technologies|length <= 6 %}
            <div id="tech-count" class="pagination">
                <ul>
                {% for tech in technologies %}
                <li {% cycle 'class="odd"' '' %}><a>{{ tech.technology }} - {{ tech.total }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="span12">
            <table id="project-list" class="table table-striped table-bordered table-condensed">
                {% include "proman/projects/project_table_header.html" %}
                <tbody>
                    {% include "proman/project_table_items.html" with projects=projects|slice:results_paginate %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
    var extraqs = "";
    if (getParameterByName("display") !="") {
        var extraqs = "&display="+getParameterByName("display");
    }

    $("#project-list").tablesorter({sortList: [[8,1]]});

    $('tr.project-row').show();

    $.get("?project_search={{ results_paginate }}"+extraqs, function(html) { 
          $("#project-list tbody").append(html);
          $("#project-list").tablesorter({sortList: [[8,1]]});
          var totalDone = $("#project-list tbody tr:visible").size();
          $("#projects-shown").text(totalDone+" of");
        });

    $('form#live-filter').on('keyup', '#project-search', function(e) {
        var tmpVAL = $('#project-search').val().toLowerCase();
        $('.project-row').each(function() {
          var tmpHTML = $(this).html().toLowerCase();
          if (tmpHTML.indexOf(tmpVAL) >= 0) {
            $(this).show();
          } else if (tmpVAL.length < 1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
        var totalDone = $("#project-list tbody tr:visible").size();
        $("#projects-shown").text(totalDone+" of");
    });

    $('#display-options').on("change", function() {
        window.open(this.options[this.selectedIndex].value, '_self');
    });
});
</script>
{% endblock js %}