{% extends "base.html" %}

{% block title %}Project Monitoring, Project Management App{% endblock title %}

{% block body %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>A refreshing way to Manage.</h1>
        <p>Get all the information you need to keep your business running smoothly.</p>
        <p>
        {% if request.user.is_authenticated %}
        <a href="{% url user_detail request.user.username %}" class="btn success large">My projects &raquo;</a>
        {% else %}
        <a href="{% url login %}?next={% url user_current %}" class="btn success large">Login now &raquo;</a>
        {% endif %}</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Track your People</h2>
          <p>See how many projects and tasks your people are managing. Effectively manage work queues without overloading and frustrating your staff.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Manage Multiple Projects</h2>
          <p>Keep tabs on several projects at once. Your personal dashboard shows you the status of everything that is going on.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>See All your Tasks</h2>
          <p>See everything that you have assigned to you. Task management at it's best with easy to use screens.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
{% endblock body %}