    <div class="navbar navbar-fixed">
      <div class="navbar-inner {{ NAVBAR_COLOR }}">
        <div class="container">
          <ul class="nav">
          <a class="brand" href="/">{% firstof SITE_NAME "ProMan" %}</a>
            {% if request.user.is_authenticated %}
            <li class="dropdown{% if user_object or users %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="{% url users %}">People <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url contacts %}">Client Contacts</a></li>
                    <li><a href="{% url users %}">Employees</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url user_current %}">My Dashboard</a></li>
                </ul>
            </li>
            <li class="dropdown{% if project or projects %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="{% url projects %}">Projects <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url project_create %}">Add a project</a></li>
                </ul>
            </li>
            <li{% if task %} class="active"{% endif %}><a href="{% url user_detail request.user.username %}">Tasks</a></li>
            <li class="dropdown{% if ci %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="#">Imports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url import_content "users" %}">Import Users</a></li>
                    <li><a href="{% url import_content "clients" %}">Import Clients</a></li>
                    <li><a href="{% url import_content "projects" %}">Import Projects</a></li>
                    <li><a href="{% url import_content "client_contacts" %}">Import Client Contacts</a></li>
                </ul>
            </li>
            {% else %}
            <li class="active"><a href="{% url login %}?next={% url user_current %}">Login</a></li>
            {% endif %}
            
          </ul>
          <a class="brand" style="float: right; padding: 8px 0px 12px 30px;" href="/">ProMan</a>
          {% if request.user.is_authenticated %}
          <ul class="nav pull-right">
            <li><a href="{% url admin:logout %}?next=/">Logout</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>