    <div class="navbar navbar-fixed">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">ProMan</a>
          <ul class="nav">
            {% if request.user.is_authenticated %}
            <li class="dropdown{% if user_object or users %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="{% url users %}">People <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url user_detail_pk request.user.pk %}">My Dashboard</a></li>
                </ul>
            </li>
            <li class="dropdown{% if project or projects %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="{% url projects %}">Projects <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url project_create %}">Add a project</a></li>
                </ul>
            </li>
            <li{% if task %} class="active"{% endif %}><a href="{% url user_detail request.user.username %}">Tasks</a></li>
            <li class="dropdown{% if ci %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="#">Imports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url import_content "users" %}">Import Users</a></li>
                    <li><a href="{% url import_content "clients" %}">Import Clients</a></li>
                    <li><a href="{% url import_content "projects" %}">Import Projects</a></li>
                </ul>
            </li>
            {% else %}
            <li class="active"><a href="{% url admin:index %}?next=/people/">Login</a></li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </div>