    <div class="navbar navbar-fixed">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">ProMan</a>
          <ul class="nav">
            {% if request.user.is_authenticated %}
            <li class="dropdown{% if user_object or users %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="{% url users %}">People <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url user_detail_pk request.user.pk %}">My Dashboard</a></li>
                    <li class="divider"></li>
                    {% for u in ACTIVE_USERS %}
                    <li><a href="{% url user_detail_pk u.user_id %}">{{ u.nice_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown{% if project or projects %} active{% endif %}"><a class="dropdown-toggle"
          data-toggle="dropdown" href="{% url projects %}">Projects <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url project_create %}">Add a project</a></li>
                </ul>
            </li>
            <li{% if task %} class="active"{% endif %}><a href="{% url user_detail request.user.username %}">Tasks</a></li>
            {% else %}
            <li class="active"><a href="{% url admin:index %}?next=/people/">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>