{% extends "base.html" %}

{% load proman_filters %}
{% load humanize %}

{% block title %}{{ profile.nice_name }} - Profile{% endblock title %}

{% block css %}
<style>
h1 .label { font-size: 18px; padding: 2px 4px; }
.table .label { display: none; margin-right: 6px;}
tr:hover .label { display: inline; padding: 0px 4px 0px;}
</style>
{% endblock css %}

{% block body %}
<div class="content project project-detail">
    <div class="page-header">
        <h1>{{ profile.nice_name }} <span class="label label-success">{{ profile.role }}</span>  <a class="btn pull-right btn-primary" href="{% url user_update profile.pk %}">Edit Person</a></h1>
    </div>
    <div class="page-header">
    <div class="row">
        <div class="span12">{% include "messages.html" %}</div>
        <div class="span9">
            <form id="live-filter">
                <input id="project-search" type="text" autocomplete="off" />
                <span class="help-inline">Start Typing for Live Filtering of <strong>Projects and Tasks</strong></span>
            </form>
            <h2>Open Projects <small>(<span id="open-projects-shown"></span> of {{ profile.projects.open|length }}) | <a href="{% url project_create %}?next={{ request.path }}" class="colorize success">add new</a></small></h2>
            <table id="open-project-list" class="table table-striped table-bordered table-condensed project-table">
                {% include "proman/profiles/project_table_header.html" %}
                <tbody>
                {% include "proman/profiles/project_table_items.html" with projects=profile.projects.open %}
                </tbody>
            </table>
            
            <h3>Done projects <small>({{ profile.projects.done|length }}) | <a id="show-done-projects" href="javascript:;">Show</a></small></h3>
            <table id="done-project-list" class="table table-striped table-bordered table-condensed project-table">
                {% include "proman/profiles/project_table_header.html" %}
                <tbody>
                {% include "proman/profiles/project_table_items.html" with projects=profile.projects.done %}
                </tbody>
            </table>
        </div>
        <div class="span3">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>Open Projects</td>
                    <th>{{ profile.projects.open|length }}</th>
                </tr>
                <tr>
                    <td>Releasable Budget</td>
                    <th>${{ profile.projects.open_task_budget.nonongoing|intcomma }}</th>
                </tr>
                <tr>
                    <td>Ongoing Budget</td>
                    <th>${{ profile.projects.open_task_budget.ongoing|intcomma }}</th>
                </tr>
                <tr>
                    <td>Managed Hours</td>
                    <th>{{ profile.projects.tasks.all_hours }}</th>
                </tr>
                <tr>
                    <td>Average Project Start Date</td>
                    <th>{{ profile.projects.open|avg_start_date|naturaltime }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="span3 pull-right">
        <h3>Tasks Summary</h3>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>Tasks</th>
                    <th>Hours</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Open</th>
                    <td>{{ profile.tasks.open|length }}</td>
                    <td>{{ profile.tasks.open_hours }}</td>
                </tr>
                <tr>
                    <th>Done</th>
                    <td>{{ profile.tasks.done|length }}</td>
                    <td>{{ profile.tasks.done_hours }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span9">
        <h2>Open Tasks <small>(<span id="open-shown"></span> of {{ profile.tasks.open|length }}) | <a href="{% url task_create %}?next={{ request.path }}" class="colorize success">add new</a></small></h2>
            <table id="open-task-list" class="table table-striped table-bordered table-condensed task-table">
                {% include "proman/profiles/task_table_header.html" with class="blue" %}
                <tbody id="open-task-results">
                    {% include "proman/profiles/task_table_items.html" with task_items=profile.tasks.open|slice:results_paginate %}
                </tbody>
            </table>
            {% if profile.tasks.open|length|add:0 > results_paginate|add:0 %}<a id="more-open-tasks" href="javascript:;">Show More Open Tasks</a>{% endif %}
        </div>
        <div class="span9">
        <h3>Done tasks <small>({{ profile.tasks.done|length }}) | <a id="show-done-tasks" href="javascript:;">Show</a></small></h3>
            <table id="done-task-list" class="table table-striped table-bordered table-condensed task-table">
                {% include "proman/profiles/task_table_header.html" with class="green" %}
                <tbody>
                {% include "proman/profiles/task_table_items.html" with task_items=profile.tasks.done|slice:results_paginate %}
                </tbody>
            </table>
            {% if profile.tasks.done|length|add:0 > results_paginate|add:0 %}<a id="more-done-tasks" href="javascript:;">Show More Done Tasks</a>{% endif %}
        </div>
        
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
    $(".project-table").tablesorter({
        headers: { 8: { sorter: false} }
    });
    $(".task-table").tablesorter({
        headers: { 6: { sorter: false} }
    });

    $('#done-project-list, #done-task-list').hide()
    $('#show-done-projects').on('click', function() {
        $('#done-project-list').show()
    });

    $('#show-done-tasks').on('click', function() {
        $('#done-task-list').show()
    });

    $('tr.project-row').show();
    $('form#live-filter').on('focus', '#project-search', function(e) {
        var tmpVAL = $('#project-search').val().toLowerCase();
        if (tmpVAL.length == 0 && e.keyCode != 8) {
          // load all tasks, update numbers
          $.get("?done_task_search={{ results_paginate }}", function(html) { 
            $("#done-task-list tbody").append(html);
            var totalDone = $("#done-task-list tbody tr:visible").size();
            $("#done-shown").text(totalDone);
          });
          $("#more-done-tasks").hide();
          $.get("?open_task_search={{ results_paginate }}", function(html) { 
            $("#open-task-list tbody").append(html);
            var totalOpen = $("#open-task-list tbody tr:visible").size();
            $("#open-shown").text(totalOpen);
          });
          $("#more-open-tasks").hide();

          $.get("?project_search={{ results_paginate }}", function(html) { 
            //$("#project-list tbody").append(html);
            var totalProjects = $("#project-list tbody tr:visible").size();
            $("#projects-shown").text(totalProjects);
            });
          $("#more-projects").hide();
        }


    });
    $('form#live-filter').on('keyup', '#project-search', function(e) {
        var tmpVAL = $('#project-search').val().toLowerCase();
        $('.project-row').each(function() {
          var tmpHTML = $(this).html().toLowerCase();
          if (tmpHTML.indexOf(tmpVAL) >= 0) {
            $(this).show();
          } else if (tmpVAL.length < 1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });

        var totalDone = $("#done-task-list tbody tr:visible").size();
        $("#done-shown").text(totalDone);
        var totalOpen = $("#open-task-list tbody tr:visible").size();
        $("#open-shown").text(totalOpen);
        var totalProjects = $("#project-list tbody tr:visible").size();
        $("#projects-shown").text(totalProjects);
    });
    $("#open-projects-shown").text($("#open-project-list tbody tr").size());

    $("#open-shown").text($("#open-task-list tbody tr").size());
    var openTaskInc = 1;
    $("#more-open-tasks").click(function(){
        openTaskInc++;
        $.get("?open_task_page="+openTaskInc, function(html) { 
            $("#open-task-list tbody").append(html);
            $("#open-task-list").trigger("update");
            var totalOpen = $("#open-task-list tbody tr").size();
            if (totalOpen < (openTaskInc*{{ results_paginate }})) {$("#more-open-tasks").hide();}
            $("#open-shown").text(totalOpen);
        });
    });

    $("#done-shown").text($("#done-task-list tbody tr").size());
    var doneTaskInc = 1;
    $("#more-done-tasks").click(function(){
        doneTaskInc++;
        $.get("?done_task_page="+doneTaskInc, function(html) { 
            $("#done-task-list tbody").append(html);
            $("#done-task-list").trigger("update");
            var totalDone = $("#done-task-list tbody tr").size();
            if (totalDone < (doneTaskInc*{{ results_paginate }})) {$("#more-done-tasks").hide();}
            $("#done-shown").text(totalDone);
        });
    });
});
</script>
{% endblock js %}