{% extends "base.html" %}

{% block title %}{% if project %}Update Project for {{ project }}{% else %}Create a Project{% endif %}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.markedit.css"/>
{% endblock %}

{% block body %}
<div class="content project project-detail">
    <div class="page-header">
        <h1>{% if project %}Update Project: {{ project.client_name }} - {{ project }}{% else %}Create a Project{% endif %}</h1>
    </div>
    <div class="page-header">
        <div class="row">
        {% include "messages.html" %}
            <div class="span8">
             <form method="post" action="" class="form-horizontal">{% csrf_token %}
                {% for field in form %}
                <div class="control-group">
                    <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        <span class="help-inline colorize danger">{{ field.errors }}</span>
                    </div>
                </div>
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">Save this Project</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
            </form>
                
            </div>
        <div></div>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.markedit.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/showdown.js"></script>
<script type="text/javascript">
$(document).ready(function() { 
    $("#id_owner").addClass('chzn-select');
    $("#id_owner").chosen();
    $( "#id_start_dt" ).datepicker();
    $( "#id_end_dt" ).datepicker();
    $('#id_description').markedit();
});
</script>
{% endblock js %}